.bg_grey { 
    background-color: gainsboro;
}

 * {
    margin: 0;
     Padding: 0;}

.grid-container {
    width: 1189px;
    padding: 5em;
    height: 1500px;
    margin-bottom: 50px;
}

.img_v_center {
    margin: auto 5px;
    position: fixed;
    float: left;
    width: 1500px;
    height: 3000px;
    top: 62%;
    transform: translateY(-50%);
}

li{
    display: inline;
    padding-left: 20px;
}
.wrapper {
  width: 500px;
  border: 1px solid red;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  background-color: whitesmoke;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  /*remove the default style for <a> tag*/
}

.move_to_top {
  position: fixed;
  left: 10px;
  bottom: 50px;
}

ul{
  list-style-type: none; /*remove the default style for <ul>*/
  margin: 0; /*remove the default margin for <ul>*/
  padding: 0; /*remove the default padding for <ul>*/
  border:none;
}

.anchor {
  height: 50px;
}
.sections {
  height: 600px;
  margin: 40px;
  border: 1px dotted blue;
}
    
.navbar {
    float: right;
    background-color: white;
    grid-column: 2/6;
    grid-row: 1;
    width: 1000px;
    height: 50px;
    z-index: 1;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.navbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar li{
    display: inline-block;
    margin-left: 60px;
    padding: 25px;
    position: relative;
}

.navbar a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar a:hover{
    color: maroon;
}

.navbar a::before{
    content: '';
    display: none;
    position: relative;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
    
}

.navbar a:hover::before{
    width: 30%
}


.index_img {
    width: 1000px;
    height: 500px;
}

.Queen {
    font font-size: 100px;
    font-family: 'Roboto', sans-serif;
    align-content: center;
}

.h1 {
    text-align: center;
}
